@import ../../variables
@import ../../mixins

.dialog
  position: absolute
  width: 100%
  display: flex
  justify-content: center
  z-index: 11
  pointer-events: none

  .card
    @include box-shadow--large
    pointer-events: all

    .card__header a
      font-size: 28px
      color: $gray700
      text-decoration: none
      margin-top: -4px
      cursor: pointer

      &:hover
        color: $red600

.dialog-enter
  margin-top: -220px

.dialog-enter.dialog-enter-active
  margin-top: 0
  transition: 200ms ease-out

.dialog-leave

.dialog-leave.dialog-leave-active
  margin-top: -220px
  transition: 200ms ease-in
