@import ../../variables
@import ../../mixins

.dialog
  position: absolute
  width: 100%
  display: flex
  justify-content: center
  z-index: 11
  pointer-events: none

  .card
    pointer-events: all

  .card__header img
    fill: black
