@import variables
@import mixins

.login
  width: 100%
  display: flex
  justify-content: center

  .card
    @include box-shadow
    align-self: center
    width: 460px
    border-radius: 2px
    background: $white

    .card__header
      padding: 10px 20px
      background: $gray100

    .card__body
      margin: 20px

    .card__footer
      padding: 0 20px 10px
      display: flex

form
  display: block

input
  display: table-cell
  position: relative
  box-sizing: border-box
  float: left
  width: 100%
  height: 38px
  border: 1px solid $border-color
  border-radius: $border-radius
  outline: none
  padding: 8px
  margin: 0
  background: $gray100
  font-size: 14px

  &:focus,
  &:not(:placeholder-shown)
    @include input-shadow
    background: $white

button
  @include transition
  display: table-cell
  padding: 8px 18px
  height: 38px
  background: $gray100
  border-radius: $border-radius
  border: 1px solid $border-color
  color: $black
  outline: none
  font-size: 14px

  &:hover
    background: $gray200

  &.button--blue
    color: $white
    background: linear-gradient($blue500, $blue600)

    &:hover
      background: linear-gradient($blue500, $blue800)

    &:active
      background: linear-gradient($blue600, $blue500)

  &.button--green
    color: $white
    background: linear-gradient($green500, $green600)

  &.button--yellow
    color: $white
    background: linear-gradient($yellow500, $yellow600)

  &.button--red
    color: $white
    background: linear-gradient($red500, $red600)

.input-group
  display: table
  position: relative
  width: 100%
  margin-bottom: 10px

  & > *:first-child
    border-top-left-radius: $border-radius
    border-bottom-left-radius: $border-radius

  & > *:last-child
    border-top-right-radius: $border-radius
    border-bottom-right-radius: $border-radius

  span.input-label
    display: table-cell
    width: 1%
    vertical-align: middle
    background: $gray100
    padding-left: 8px
    padding-right: 4px

    &:first-child
      border-left: 1px solid $border-color
      border-top: 1px solid $border-color
      border-bottom: 1px solid $border-color

    img
      height: 20px
      vertical-align: middle

  input
    border-radius: 0

    &:not(:first-child)
      &:not(:focus)
        &:placeholder-shown
          border-left: 1px solid transparent

.push-right
  margin-left: auto
