// Colors

$white: #fff
$black: #000

$gray100: #f5f5f5
$gray200: #eee
$gray300: #e0e0e0
$gray400: #bdbdbd
$gray900: #212121

$yellow500: #ffeb3b
$yellow600: #fdd835

$blue300: #64b5f6
$blue400: #42a5f5
$blue500: #2196f3
$blue600: #1976d2
$blue700: #1976d2
$blue800: #1565c0

$green500: #4caf50
$green600: #43a047

$red500: #f44336
$red600: #e53935

$water: #a3ccff

$border-color: $gray200


// Properties

$border-radius: 100px
