@import ../../variables
@import ../../mixins

.settings

  .card__header a
    font-size: 28px
    color: $gray700
    text-decoration: none
    margin-top: -4px
    cursor: pointer

    &:hover
      color: $gray800

  .input-container
    position: relative
    margin-bottom: 10px

    img
      position: absolute
      z-index: 2
      height: 20px
      left: 8px
      top: calc(50% - 10px)
      pointer-events: none

    input
      padding-left: 36px
